.news-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 16px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1029px) {
  .news-card-list {
    gap: 8px;
  }
}

@media screen and (max-width: 768px) and (min-width: 730px) {
  .news-card-list {
    display: grid;
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }
}

@media screen and (max-width: 729px) and (min-width: 491px) {
  .news-card-list {
    display: grid;
    grid-template-columns: repeat(2, 224px);
    justify-content: center;
  }
}

@media screen and (max-width: 490px) {
  .news-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
}
